.Side-bar
  .Left-header
    .Left-header__list
      %h3.Left-header__user-name
        = current_user.name
      %ul.Icon-list
        %li.Icon-list__Icon
          = link_to new_group_path, class: "Icon-list__Icon" do
            = icon('fas', 'edit',  class: "Icon-list__Icon--icon_pen")
        %li.Icon-list__Icon
          = link_to edit_user_path(current_user) do
            = icon('fas', 'cog',  class: "Icon-list__Icon--icon_gear") 

  .Group-list
    - current_user.groups.each do |group|  # current_user.groups によってログイン中のユーザーが所属している全グループのレコードを取得
      .Group
        = link_to group_messages_path(group) do
          .Group__name
            = group.name
          .Group__message
            = group.show_last_message      # show_last_message は group.rb にて定義